<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>292256960269-sajkfgigf1e3tvj316lgcndi7febf763.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292256960269-sajkfgigf1e3tvj316lgcndi7febf763</string>
	<key>API_KEY</key>
	<string>AIzaSyBXcZ44T8txXT-57WnmXiaNpgd7MDBRikg</string>
	<key>GCM_SENDER_ID</key>
	<string>292256960269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ColombiaHumana</string>
	<key>PROJECT_ID</key>
	<string>petro-presidente</string>
	<key>STORAGE_BUCKET</key>
	<string>petro-presidente.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292256960269:ios:54219c544ce97c4a</string>
	<key>DATABASE_URL</key>
	<string>https://petro-presidente.firebaseio.com</string>
</dict>
</plist>